*.iml
*.svg
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
/.github
/firebase/*.json
/firebase/config.py
/firebase/assets/*
!/firebase/assets/README.md
/firebase/lang/*.json
/firebase/.uploadcache
/firebase/__pycache__
/firebase/admin/*
!/firebase/admin/README.md
/screenshots/*.mkv
/app/src/androidTest
.externalNativeBuild
.cxx
local.properties
/app/src/test